@font-face {
  font-family: 'LatoLight';
  src: url('../font/Lato-Light.ttf');
}

body a{
  font-family: 'LatoLight';
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

input[type="button"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;
}
body{
	padding:0 0;
	margin:0 0;
  background-color: #FFF;
}

/*---portfolio----*/
.properties {
  padding: 0;
  margin: 0;
  margin-left: 0;
  text-align:center;
}

.view {
  width: 360px;
  height: 245px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  /*-webkit-box-shadow: 1px 1px 2px #BCBCBC;
  -moz-box-shadow: 1px 1px 2px #BCBCBC;
  box-shadow: 1px 1px 2px #BCBCBC;*/
  cursor: default;
  padding: 0;
  margin-bottom: 2em;
  border-radius: 10px;

}

.view .mask{
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
  width: 100%;
  height: 100%;
   display: block;
   position: relative;
   border-radius: 10px;
}
.view h5{
    font-style: italic;
    font-size: 1.5em;
    position: relative;
    color: #fff;
    text-align: center;
    margin: 5em auto 0;
    width: 63%;
}
.view-fourth img {
  border-radius: 10px;
  /*border: 0.01px solid black;*/
  width: 100%;
   -webkit-transition: all 0.4s ease-in-out 0.2s;
   -moz-transition: all 0.4s ease-in-out 0.2s;
   -o-transition: all 0.4s ease-in-out 0.2s;
   -ms-transition: all 0.4s ease-in-out 0.2s;
   transition: all 0.4s ease-in-out 0.2s;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-fourth .mask {
   background: #51247F;
   width: 100%;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0) rotate(-180deg);
   -moz-transform: scale(0) rotate(-180deg);
   -o-transform: scale(0) rotate(-180deg);
   -ms-transform: scale(0) rotate(-180deg);
   transform: scale(0) rotate(-180deg);
   -webkit-transition: all 0.4s ease-in;
   -moz-transition: all 0.4s ease-in;
   -o-transition: all 0.4s ease-in;
   -ms-transition: all 0.4s ease-in;
   transition: all 0.4s ease-in;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
}
.view-fourth h5 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}
.view-fourth:hover .mask {
  /*background-image: url("../img/g1.jpg");*/
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1) rotate(0deg);
   -moz-transform: scale(1) rotate(0deg);
   -o-transform: scale(1) rotate(0deg);
   -ms-transform: scale(1) rotate(0deg);
   transform: scale(1) rotate(0deg);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.view-fourth:hover img {
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.view-fourth:hover h5{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
}
.properties-grids {
  margin:7em 0;
}
/*---//portfolio----*/


			/*responsive*/

@media(max-width:1440px){
.header-banner {
     min-height: 641px;
}
.caption {
    margin-top: 20em;
}
.ban1 {
    min-height: 110px !impotrant;
}
.logo {
    left: 39%;
}
}
@media(max-width:1366px){
.header-banner {
    min-height: 614px;
}
.caption {
    margin-top: 19em;
}
.logo {
    left: 38%;
}
@media(max-width:1280px){
.header-banner {
    min-height: 567px;
}
.logo {
    left: 37%;
}
.caption {
    margin-top: 17em;
}
}
@media(max-width:1080px){
.caption {
    margin-top: 14em;
}
.header-banner {
    min-height: 459px;
}
.top-menu ul li a {
    font-size: 1em;
    padding: 0 1.3em;
}
.logo {
    left: 36%;
}
.caption p {
    font-size: 0.96em;
    width: 57%;
}

.feature-grid1 p {
    font-size: .96em;
    padding: 1em 2em 2.5em 0;
}
 .featu-grid1 p {
    font-size: .96em;
    padding: 1em .5em 2em 0;
}
.feature-grid1 {
    margin-top: 1em;
}
.featu-grid1 {
    margin-top: 1em;
}
.featu-grid {
    float: left;
    width: 49%;
    margin-right: 3%;
}
.caption h3,.feature h3,.testimonials h3,.brokers h3,.detail-grid h3,.agency-list h3, .whychoose h3, .advantages h3, .service-list h3 {
    font-size: 2.5em;
}
.welcome h2,.about-section h2, .services h2, .properties h2, h2.short{
    font-size: 2.5em;
}
.wel-grid h4,.feature-grid1 h4,.featu-grid1 h4,.test-grid h4 ,.test-grid1 h4, .test-grid2 h4,.broker-grid h4,.about-grid1 h4,.agent-grid1 h4,.choose-grid h4,.ser-info h4,.right-grid h4{
    font-size: 1.4em;
}
.feature-grid {
    padding: 0 0.8em 0 0em;
}
.feat-grid {
   padding: 0 1.3em 0 0em;
}
.test-grid p, .test-grid1 p, .test-grid2 p {
    font-size: .96em;
    padding: 0 3em;
}
.detail-grid ul li a {
    font-size: .95em;
}
.detail-grid input[type="text"] {
    width: 72%;
}
.ban1 {
    min-height: 80px !important;
}
.about-grid iframe {
    height: 257px;
}
span.agent-text {
    font-size: 1em;
}
.ser-info {
    top: 63.5%;
    width: 94%;
}
.ser-list ul li a {
    padding: 6px 21px;
}
.view {
    width: 293px;
    height: 200px;
}
.view h5 {
    margin: 4em auto 0;
}
.view .mask, .view .content {
    width: 273px;
    height: 225px;
}
.contact input[type="text"], .contact input[type="email"] {
    width: 31.1%
}
}
@media(max-width:991px){
.logo h1 a {
    font-size: 1em;
}
.logo {
    left: 37.5%;
	top: 43%;
}
.top-menu ul li:nth-child(3) {
    margin-right: 16em;
}
.top-menu ul li a {
    font-size: 1em;
    padding: 0 .8em;
}
.header-banner {
    min-height: 342px;
}
.caption {
    margin-top: 9em;
}
.caption p {
    font-size: 0.95em;
    width: 63%;
}
.welcome,.feature,.testimonials,.brokers,.details-section,.about-section,.agency-list,.whychoose,.services,.service-list,.properties,.typography,.contact {
    padding: 3em 0;
}
.advantages {
    padding: 1em 0 3em;
}
.caption h3, .feature h3, .testimonials h3, .brokers h3, .detail-grid h3, .agency-list h3, .whychoose h3, .advantages h3, .service-list h3 {
    font-size: 2em;
}
.welcome h2, .about-section h2, .services h2, .properties h2, h2.short, .contact h2 {
    font-size: 2em;
}
.wel-grid h4, .feature-grid1 h4, .featu-grid1 h4, .test-grid  h4 ,.test-grid1 h4, .test-grid2 h4, .broker-grid h4, .about-grid1 h4, .agent-grid1 h4, .choose-grid h4, .ser-info h4, .right-grid h4, .contact h4 {
    font-size: 1.25em;
}
.wel-grid {
    float: left;
    width: 33.3%;
}
.detail-grid {
    float: left;
    width: 50%;
}
.feature-grid {
    float: left;
    width: 25%;
}
.feature-grid1 {
    float: left;
    width: 50%;
    margin-bottom: 18em;
}
.feature-grid {
    float: left;
    width: 50%;
}
.feature-grid img {
    width: 100%;
}
.feature-grid:nth-child(3) {
    margin-top: 1em;
}
.feature-grid:nth-child(4) {
    margin-top: 1em;
}
.feat-grid img {
    width: 100%;
}
.featu-grid {
    margin-top: 1em;
}
.feat-grid {
    padding: 0 .7em 0 0em;
}
a.button {
    font-size: .95em;
}
.test-grid {
    float: left;
    width: 33.3%;
}
.test-grid p, .test-grid1 p, .test-grid2 p {
    font-size: .95em;
    padding: 0 1em;
}
.test-grid1 {
    float: left;
    width: 50%;
}
.broker-grid {
    float: left;
    width: 33.3%;
}
.detail-grid:nth-child(4) {
    margin-top: 1em;
}
.detail-grid:nth-child(4) {
    margin-top: 1em;
}
.about-grid {
    float: left;
    width: 50%;
}
.about-grid1 {
    float: left;
    width: 50%;
}
.agent-grid1 {
    float: left;
    width: 50%;
	margin-bottom: 13em;
    padding: 0;
}
.agent-grid img {
    width: 100%;
}
.agent-grid {
    float: left;
    width: 50%;
}
.choose-grid {
    float: left;
    width: 33.3%;
}
.glyphicon-user, .glyphicon-lock, .glyphicon-book, .glyphicon-zoom-in, .glyphicon-shopping-cart, .glyphicon-home {
    font-size: 1.3em;
    margin-right: .2em;
}
.agent-grids1 {
    margin-top: .5em;
}
.services-grid {
    float: left;
    width: 50%;
}
.ser-info {
    top: 53%;
    width: 91.5%;
    padding: 1em 1em;
}
.left-grid {
    float: left;
    width: 24%;
    margin-right: 2%;
}
.right-grid {
    float: left;
    width: 74%;
}
.advantage-grid {
    float: left;
    width: 33.3%;
}
.left-grid p {
    width: 50px;
    height: 50px;
    font-size: 1.3em;
}
.ser-list:nth-child(2) {
    margin: 1em 0;
}
.view {
    width: 220px;
    height: 151px;
}
.view h5 {
    font-size: 1.3em;
    margin: 3em auto 0;
}
.view .mask, .view .content {
    width: 201px;
    height: 132px;
}
.contact-form-left:nth-child(2) {
    margin-top: 1em;
}
.contact iframe {
    min-height: 260px;
}
.contact input[type="submit"] {
    width: 15%;
}
.contact input[type="text"], .contact input[type="email"] {
    width: 31.8%;
}
}
@media(max-width:800px){
.logo {
    left: 34%;
	top: 44%;
}
}
@media (max-width: 768px){
.logo {
    left: 33.5%;
    top: 44%;
}
}
@media(max-width:640px){
 span.menu {
  display: block;
  text-align: right;
  cursor: pointer;
  position: relative;
  padding: 0em 1em 0 0;
}
.top-menu span img{
	display:inline-block;
}
.top-menu {
	width: 100%;
	float: none;
	padding: .5em 0 .5em 0em;
}
.top-menu  ul{
	display:none;
}
.top-menu  ul li {
	display:inline-block;
	width: 100%;
	margin:0;
}
.top-menu  ul{
	margin: 0;
	z-index: 999;
	position: absolute;
	width: 95.2%;
    text-align: center;
    left: 2.4%;
	background:#2f3e5d;
    padding: 2.2em 0 1em;
}
.top-menu ul li:nth-child(3) {
    margin-right: 0;
}
.top-menu ul li a {
  padding: 0.4em 0em;
  display: block;
}
.top-header {
    margin-top: 3.5em;
}
.logo {
    top: 35%;
	left: 2%;
}
.header-banner {
    min-height: 283px;
}
.caption {
    margin-top: 7em;
}
.caption p {
    font-size: 0.95em;
    width: 75%;
}
.welcome h2, .about-section h2, .services h2, .properties h2, h2.short, .contact h2 {
    font-size: 1.8em;
}
.wel-grid h4, .feature-grid1 h4, .featu-grid1 h4, .test-grid h4, .test-grid1 h4, .test-grid2 h4, .broker-grid h4, .about-grid1 h4, .agent-grid1 h4,.ser-info h4, .right-grid h4, .contact h4 {
    font-size: 1.2em;
}
.choose-grid h4{
font-size: 1.2em;
line-height:1.5em;
}
.wel-grids,.feature-grids,.test-grids,.broker-grids,.about-grids,.agent-grids,.choose-grids,.services-grids,.service-grids,.properties-grids,.contact-form {
    margin-top: 2em;
}
.feature-grid1 {
    margin-bottom: 10em;
}
.test-grids1 {
    width: 74%;
    margin: 2em auto 0;
}
.broker-grid {
    width: 100%;
}
.ban1 {
    min-height: 45px !important;
}
.about-grid {
    width: 100%;
}
.about-grid1 {
    width: 100%;
	margin-top:1em;
}
.agent-grid1 {
    margin-bottom: 7em;
}
.ser-info {
    top: 34%;
    width: 90%;
    padding: .8em;
}
.advantage-grid {
    width: 100%;
    margin-top: 1em;
}
.left-grid {
    float: left;
    width: 10%;
    margin-right: 2%;
}
.right-grid {
    float: left;
    width: 88%;
}
.view .mask, .view .content {
    width: 176px;
    height: 118px;
}
.view h5 {
    font-size: 1.1em;
    margin: 3.2em auto 0;
}
.view {
    width: 187px;
    height: 130px;
    margin: 5px;
}
.contact input[type="text"], .contact input[type="email"], .contact textarea {
    padding: 7px 15px;
}
.contact input[type="text"], .contact input[type="email"] {
    width: 31.3%;
}
.contact iframe {
    min-height: 220px;
    margin: 2em 0 0;
}
}
@media(max-width:480px){
.logo {
	top: 23%;
}
.top-header {
    margin-top: 2.5em;
}
.top-menu ul {
    width: 93.4%;
	left: 3.3%;
 }
.caption {
    margin-top: 3.5em;
}
.header-banner {
    min-height: 213px;
}
.caption h3, .feature h3, .testimonials h3, .brokers h3, .detail-grid h3, .agency-list h3, .whychoose h3, .advantages h3, .service-list h3 {
    font-size: 1.8em;
}
.caption p {
    font-size: 0.92em;
    width: 88%;
    margin: 1em auto 0;
}
.welcome, .feature, .testimonials, .brokers, .details-section, .about-section, .agency-list, .whychoose, .services, .service-list, .properties, .typography, .contact {
    padding: 2em 0;
}
.wel-grid p, .broker-grid p, .detail-grid p, .about-grid1 p, .agent-grid1 p, .choose-grid p, .ser-info p, .right-grid p, .contact-form-left p {
    font-size: 0.92em;
}
.wel-grid {
    width: 100%;
}
.wel-grid img {
    margin: 0 auto;
}
.wel-grid:nth-child(2) {
    margin: 1em 0;
}
.feature-grid1 p {
    font-size: .92em;
    padding: 1em 0em 2.5em 0;
}
.feature-grid1 {
    margin-bottom: 1em;
}
a.button {
    font-size: .92em;
}
.test-grid {
    width: 100%;
}
.test-grid p, .test-grid1 p, .test-grid2 p {
    font-size: .92em;
    padding: 0 5em;
}
.test-grid:nth-child(2) {
    margin: 1em 0;
}
.test-grids1 {
    width: 100%;
}
.test-grid1 {
    width: 100%;
}
.test-grid1:nth-child(1) {
    margin-bottom: 1em;
}
.broker-grid {
    text-align: center;
}
.detail-grid input[type="text"] {
    width: 71%;
}
.detail-grid ul li a {
    font-size: .92em;
    padding: 6px 21px;
	    line-height: 2.2em;
}
.detail-grid:nth-child(3) {
    margin-top: 1em;
}
.agent-grid1 {
    margin-bottom: 1em;
}
.choose-grid {
    width: 100%;
}
.choose-grid:nth-child(2) {
    margin: 1em 0;
}
.glyphicon-user, .glyphicon-lock, .glyphicon-book, .glyphicon-zoom-in, .glyphicon-shopping-cart, .glyphicon-home {
    font-size: 1.6em;
    margin-right: 1em;
}
.services-grid {
    width: 100%;
}
.services-grid:nth-child(2) {
    margin: 1em 0;
}
.services-grids1 {
    margin-top: 1em;
}
.ser-info {
    top: 63.4%;
    width: 93%;
}
.left-grid {
    float: left;
    width: 15%;
    margin-right: 2%;
}
.right-grid {
    float: left;
    width: 83%;
}
.advantages {
    padding: 0em 0 2em;
}
.view .mask, .view .content {
    width: 186px;
    height: 129px;
}
.view {
    width: 206px;
    height: 141px;
}
.view h5 {
    font-size: 1.3em;
    margin: 3em auto 0;
}
.contact input[type="text"], .contact input[type="email"], .contact textarea {
    width: 100%;
}
.contact input.email {
    margin: 1em 0em;
}
}
@media(max-width:320px){
.logo {
    left: 4.5%;
	top: 34%;
}
.header-banner {
    min-height: 260px;
    background: url(../images/ban5.jpg) no-repeat -70px 0px;
    background-size: cover;
}
.top-header {
    margin-top: 2.5em;
}
.logo h1 a {
    font-size: .8em;
}
.top-menu ul {
    width: 90%;
    left: 5%;
}
.ban1 {
    min-height: 45px !important;
    background: url(../images/ban5.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.caption p {
    font-size: 0.92em;
    width: 100%;
    margin: 1em auto 0;
}
.caption {
    margin-top: 2.5em;
}
.wel-grid {
    padding: 0;
}
.feature-grid {
    width: 100%;
    padding: 0;
}
.feature-grid1 {
    padding: 0;
    width: 100%;
}
.feature-grid1 p {
    padding: 1em 0em 1.5em 0;
}
.featu-grid {
    width: 100%;
}
.featu-grid1 {
    width: 100%;
}
.featu-grid1 p {
    font-size: .92em;
    padding: 1em .5em 1em 0;
}
.feature-grid:nth-child(2) {
    margin-top: 1em;
}
.welcome, .feature, .testimonials, .brokers, .details-section, .about-section, .agency-list, .whychoose, .services, .service-list, .properties, .typography, .contact {
    padding: 1em 0;
}
.wel-grids, .feature-grids, .test-grids, .broker-grids, .about-grids, .agent-grids, .choose-grids, .services-grids, .service-grids, .properties-grids, .contact-form {
    margin-top: 1em;
}
.caption h3, .feature h3, .testimonials h3, .brokers h3, .detail-grid h3, .agency-list h3, .whychoose h3, .advantages h3, .service-list h3 {
    line-height: 1.6em;
	font-size:1.6em;
}
.welcome h2, .about-section h2, .services h2, .properties h2, h2.short, .contact h2 {
    font-size: 1.6em;
}
.test-grid p, .test-grid1 p, .test-grid2 p {
    padding: 0 0em;
}
.broker-grid {
    padding: 0;
}
.detail-grid {
    width: 100%;
    padding: 0;
}
.detail-grid:nth-child(2) {
    margin-top: 1em;
}
.footer-section {
    padding: 1em 0;
}
.about-grid {
    padding: 0;
}
.about-grid1 {
    padding: 0;
}
.agent-grid {
    width: 100%;
    padding: 0;
}
.agent-grid1 {
    width: 100%;
	margin-top:1em;
}
.choose-grid {
    padding: 0;
}
.agent-grid1 p {
    padding: .5em 0;
}
.services-grid {
    padding: 0;
}
.ser-info {
    top: 37.2%;
    width: 100%;
}
.advantage-grid {
    padding: 0;
}
.left-grid {
    width: 20%;
}
.right-grid {
    width: 78%;
}
.detail-grid ul li a {
    line-height: 1.8em;
}
.ser-list {
    padding: 0;
}
.ser-list ul li a {
    padding: 6px 16px;
}
.about-grid iframe {
    height: 163px;
}
.view .mask, .view .content {
    width: 235px;
    height: 129px;
}
.view {
    width: 255px;
    height: 141px;
}

}
